/* ====== Header ====== */

.social a {
	width: 36px;
	height: 36px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}

.social a:hover {
	background: #259d07;
}

.social a .fa {
	font-size: 20px;
	padding-top: 8px;
}
