/*====== Resume =======*/

/*====== Sections =======*/
.sections-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section {
	margin-bottom: 30px;
}

.section .section-inner {
	background: #fff;
	padding: 30px;
}

.section .heading {
	margin-top: 0;
	margin-bottom: 30px;
	color: #545e69;
	font-size: 24px;
}

.section-inner > hr {
	border: #C2EAD2 1px solid;
}

.section .content > h3 {
	font-size: 22px;
}

/*====== Tech Experience ======*/
.tech-experience ul {
	list-style-type: none;
	padding-left: 0;
}

.tech-experience h5 {
	margin-bottom: 0;
}

.tech-experience .skills span {
	background: #17CF5D;
	display: inline-block;
	height: 2px;
	margin-right: 10px;
	width: 55px;
}

.tech-experience .skills span.transparent {
	background: #D6D6D6;
}

/*====== Github =======*/
.github-graph {
	margin-bottom: 30px;
}

.github-graph .js-calendar-graph-svg {
	max-width: 100%;
}

.ghfeed {
	height: 600px;
}

.ghfeed, .ghfeed *, .ghfeed *:before, .ghfeed *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/*====== Basic Info =======*/
.info .fa {
	margin-right: 15px;
	color: #CCD1D6;
}

.info ul {
	margin-bottom: 0;
}

.info li {
	margin-bottom: 0.2em;
}

.info li:last-child {
	margin-bottom: 0;
}

/*====== Education =======*/
.education .item {
	margin-bottom: 30px;
}

.education .item:last-child {
	margin-bottom: 0;
}

.education .item .title {
	font-size: 16px;
	margin-top: 0;
}

.education .item .university {
	font-family: "Lato", arial, sans-serif;
	font-size: 13px;
	color: #999;
	font-weight: 600;
	padding-left: 25px;
}

.education .item .university .year {
	color: #b0b7bf;
	font-weight: 500;
}
