/*====== Resume =======*/
.sections-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section {
	margin-bottom: 30px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #778492;
}

.section .section-inner {
	padding: 30px;
}

.section .heading {
	margin-top: 0;
	margin-bottom: 30px;
	color: #545e69;
	font-size: 24px;
}

.section-inner > hr {
	border: #C2EAD2 1px solid;
}

.section .content > h3 {
	font-size: 22px;
}
