/* ====== Navbar ====== */
.navbar{
	background: #32383E;
	border-top: #259d07 4px solid !important;
}

.navbar-toggle{
	background: #FFFFFF !important;
}

.navbar-toggle .icon-bar{
	background: #32383E;
}

ul.navbar-nav > li > a{
	font-weight: bold;
}

ul.navbar-nav > li > a:focus,
.active {
	color: #3AAA64;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus,
.active {
	background: #fff;
}
